* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(100,200,213) 0%, rgb(142, 171, 189) 50%, rgb(100,200,213) 100%);
}

.container {
    width: 50%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: 1rem;
}

.title {
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color: rgb(27, 124, 124);
    height: 6%;
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 14%;
    width: 100%;
    border-bottom: 0.5px solid #cec3c3;
    border-top: 0.5px solid #cec3c3;
}

.input_container {
    position: relative;
    height: 2rem;
    width: 35%;
}

.input_bank {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-bottom: 0.5px solid rgb(26, 180, 160);
    background-color: #FFF;
}


.dropdown_bank {
    list-style-type: none;
    position: absolute;
    background-color: rgb(221, 205, 205);
    top: 100%;
    width: 100%;
    height: auto;
    max-height: 10rem;
    z-index: 1;
    overflow: auto;
}

.dropdown_item {
    height: 2rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #FFF;
    margin: 1px 0;
}

.select {
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #FFF;
    border-bottom: 1px solid rgb(26, 180, 160);
    padding-left: 0.5rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-appearance: none;
}

.select_item {
    height: 2rem;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown_item:hover {
    font-weight: 500;
    background-color: rgb(228, 217, 217);
}

.submit {
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: none;
    background-color: rgb(26, 180, 160);
    color: #FFF;
    border: none;
    outline: none;
}

.submit:hover {
    border: 1px solid rgb(26, 180, 160);
    background-color: #FFF;
    color: rgb(26, 180, 160);
}

.description {
    height: 40%;
    width: 100%;
    padding: 1rem;
    overflow: auto;
}

.bank_info {
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.bank_info_item {
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.bank_info_label {
    font-size: 1.2rem;
    text-transform: capitalize;
    flex-basis: 20%;
}

.map_container {
    border-top:  0.5px solid #cec3c3;
    width: 100%;
    height: 40%;
    margin: auto;
    padding: 1rem;
}

#map {
    height: 100%;
    width: 100%;
}

